@model ThreeAmigos_ExpenseManagement.ViewModels.ApproveExpensesViewModel
@{
    ViewBag.Title = "Expense Management System | Approve Expense";
    Layout = "~/Views/Shared/_EM_LayoutPage.cshtml";    
}

@using (Html.BeginForm("ApproveExpenses", "Supervisor", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    decimal? remain = Model.BudgetTracker.RemainingAmount;

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Expenses awaiting approval</h3>
        </div>
        You currently have $<b> @Model.BudgetTracker.RemainingAmount</b> from your departments monthly budget of $<b>@Model.BudgetTracker.BudgetAmount</b>
        <table class="table">
            <tr><td></td></tr> 
            
            @foreach (var ExpenseReport in Model.ExpenseReports)
            {
                decimal? totalAmount = 0;           
                <tr class="info">
                    <th>Report Date: @String.Format("{0:dd/MM/yyyy}", ExpenseReport.CreateDate)</th>
                    <th>Consultant: @ExpenseReport.CreatedBy.Fullname</th>
                    <th>Department: @ExpenseReport.Department.DepartmentName</th>
                    <th>Status: @ExpenseReport.Status</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th>Expense Date</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Receipt</th>
                    <th>Amount (AUD)</th>
                 </tr>

                foreach (var ExpenseItem in ExpenseReport.ExpenseItems)
                {
                <tr>
                    <td></td>
                    <td>@String.Format("{0:dd/MM/yyyy}", ExpenseItem.ExpenseDate)</td>
                    <td>@ExpenseItem.Location</td>
                    <td>@ExpenseItem.Description</td>
                    <td>@if (ExpenseItem.ReceiptFileName != null && ExpenseItem.ReceiptFileName != "")
                                        {
                                        <a href="/Receipts/@ExpenseItem.ReceiptFileName" target="_blank">
                                            <img src="~/Images/img_pdf_icon.png" /></a>
                                        }
                               </td>
                    <td>@String.Format("{0:C}",@ExpenseItem.AudAmount)</td>
                </tr> 
                    totalAmount = totalAmount + ExpenseItem.AudAmount;
                }
                <tr class="success">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Expense Total: @String.Format("{0:C}", totalAmount)</b></td> 
                    <td>
                      @Html.ActionLink(linkText: "Approve", actionName: "ApproveExpense", controllerName: "Supervisor", routeValues: new { itemid = ExpenseReport.ExpenseId, act = "Approve" },htmlAttributes:new { @class = "btn btn-success" , onclick="return CheckDeptBudgetExceeded(Model.BudgetTracker.IsBudgetExceeded(totalAmount))"})
                      @Html.ActionLink(linkText: "Reject", actionName: "ApproveExpense", controllerName: "Supervisor", routeValues: new { itemid = ExpenseReport.ExpenseId, act = "Reject" }, htmlAttributes: new { @class = "btn btn-success" })
                    </td>
                </tr> 
                <tr><td></td></tr>                
                
            }
        </table>
    </div>
    
    <!-- pop modal to to display confirmation when budget limit has been exceeded -->
    <div class="modal fade" id="BudgetWarningModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <table class="table">
                <tr>
                    <th colspan="2">Budget Warning</th>
                </tr>
                <tr>
                    <td colspan="2">
                      If you approve this expense you will exceed the department's montlhy budget, do you want to proceed?
                      
                    </td>
                </tr>
                <tr>
                    <td><input type="button" ID="btnConfirmApprove" class="btn btn-success" value="Approve" OnClick="btnConfirmApprove_Click" /></td>
                    <td><input type="button" ID="btnConfirmReject"class="btn btn-warning" value="Close" OnClick="btnConfirmReject_Click" /></td>
                </tr>
            </table>
            <p>
            </p>

            <input id="hdnExpenseId" type="hidden">
        </div>
        <!-- /.modal-content -->
    </div>
</div>
}
