@model ThreeAmigos_ExpenseManagement.ViewModels.ApproveExpensesViewModel
@{
    ViewBag.Title = "Expense Management System | Approve Expense";
    Layout = "~/Views/Shared/_EM_LayoutPage.cshtml";    
}

@using (Html.BeginForm("ApproveExpenses", "Supervisor", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    decimal? remain = Model.BudgetTracker.Budget.RemainingBudget;
   <div>  </div>
    <div class="panel panel-primary">
        
        <div class="panel-heading">
            <h3 class="panel-title">Expenses awaiting approval</h3>
        </div>
        You currently have $<b> @Model.BudgetTracker.Budget.RemainingBudget</b> from your departments monthly budget of $<b>@Model.BudgetTracker.Budget.BudgetAmount</b>
            
        <table class="table">
          <tr><td></td></tr> 
           @foreach (var ExpenseReport in Model.ExpenseReports)
            {
               decimal? totalAmount = 0;           
                <tr class="info">
                    <th>Report Date: @String.Format("{0:dd/MM/yyyy}", ExpenseReport.CreateDate)</th>
                    <th>Consultant: @ExpenseReport.CreatedBy.Fullname</th>
                    <th>Department: @ExpenseReport.Department.DepartmentName</th>
                    <th>Status: @ExpenseReport.Status</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th>Expense Date</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Receipt</th>
                    <th>Amount (AUD)</th>
                 </tr>

                foreach (var ExpenseItem in ExpenseReport.ExpenseItems)
                {
                <tr>
                    <td></td>
                    <td>@String.Format("{0:dd/MM/yyyy}", ExpenseItem.ExpenseDate)</td>
                    <td>@ExpenseItem.Location</td>
                    <td>@ExpenseItem.Description</td>
                    <td>@if (ExpenseItem.ReceiptFileName != null && ExpenseItem.ReceiptFileName != "")
                                        {
                                        <a href="/Receipts/@ExpenseItem.ReceiptFileName" target="_blank">
                                            <img src="~/Images/img_pdf_icon.png" /></a>
                                        }
                               </td>
                    <td>@String.Format("{0:C}",@ExpenseItem.AudAmount)</td>
                </tr> 
                    totalAmount = totalAmount + ExpenseItem.AudAmount;
                }
                <tr class="success">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>Expense Total: @String.Format("{0:C}", ExpenseReport.ExpenseTotal)</b></td> 
                    <td>                      
                      @if(Model.BudgetTracker.IsBudgetExceeded(ExpenseReport.ExpenseTotal))
                      {
                        @Html.ActionLink(linkText: "Approve", actionName: "ApproveExpense", controllerName: "Supervisor", routeValues: new { expenseId = ExpenseReport.ExpenseId, status = "ApprovedBySupervisor"},htmlAttributes:new { @class = "btn btn-success",onclick="return confirm('Approving this expense will result in the department going over budget, do you want to continue?')"  })
                      }
                      else
                      {
                          @Html.ActionLink(linkText: "Approve", actionName: "ApproveExpense", controllerName: "Supervisor", routeValues: new { expenseId = ExpenseReport.ExpenseId, status = "ApprovedBySupervisor"},htmlAttributes:new { @class = "btn btn-success"})
                      }
                      @Html.ActionLink(linkText: "Reject", actionName: "ApproveExpense", controllerName: "Supervisor", routeValues: new { expenseId = ExpenseReport.ExpenseId, status = "RejectedBySupervisor" }, htmlAttributes: new { @class = "btn btn-success" })
                    </td>
                </tr> 
                <tr><td></td></tr>                
                
            }
        </table>
    </div>
}
