@model ThreeAmigos_ExpenseManagement.ViewModels.ExpenseFormViewModel

@{    List<SelectListItem> ddlCurrency = new List<SelectListItem>();
      ddlCurrency.Add(new SelectListItem
      {
          Text = "AUD",
          Value = "AUD"
      });
      ddlCurrency.Add(new SelectListItem
      {
          Text = "CNY",
          Value = "CNY"
      });
      ddlCurrency.Add(new SelectListItem
      {
          Text = "EUR",
          Value = "EUR"
      });
    }


        <!-- modal to add items -->
        <div class="modal fade" id="ExpenseItemModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add Expense Item</h4>
                    </div>
                    <div class="modal-body">

                        <!-- Expense items -->
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ExpenseItem.ExpenseDate)
                                    @Html.TextBoxFor(m => m.ExpenseItem.ExpenseDate, new { @name = "expenseDate", @class = "form-control" })                                    
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ExpenseItem.Location)
                                    @Html.TextBoxFor(m => m.ExpenseItem.Location, new { @name = "location", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 col-md-offset-1">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ExpenseItem.Description)
                                    @Html.TextBoxFor(m => m.ExpenseItem.Description, new { @name = "description", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ExpenseItem.Amount)
                                    @Html.TextBoxFor(m => m.ExpenseItem.Amount, new { @name = "amount", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-3 em-col-md-offset-2">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ExpenseItem.Currency)
                                    @Html.DropDownListFor(m => m.ExpenseItem.Currency, ddlCurrency, new { @name = "currency", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <div class="form-group">
                                    <label for="fileReceipt" class="control-label">Receipt</label>
                                    (PDF only and Max file size 4Mb)
                                <input type="file" name="fileReceiptName" class="form-control" />
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1">
                                @Html.ValidationSummary()
                            </div>
                        </div>
                    </div>
                    

                    <div class="modal-footer">
                        <input id="btnAddItem" value="Add to Report" class="btn btn-primary" type="submit" />
                        <input id="btnItemClose" value="Close" class="btn btn-default" type="button" onclick="HideExpenseItemModal();" />
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>

