@model ThreeAmigos_ExpenseManagement.ViewModels.ExpenseFormViewModel


@{
    ViewBag.Title = "Expense Management System | Create Expense";
    Layout = "~/Views/Shared/_EM_LayoutPage.cshtml";    
}

@using (Html.BeginForm("CreateExpense", "Consultant", FormMethod.Post, new { id = "expenseItemForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
       
        
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Expense Form</h3>
        </div>

        <div class="panel-body">
            <div class="container-fluid">
                <!-- This is the expense header -->
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(m => m.EmployeeName)
                            <input type="text" value="@Html.Encode(Model.ExpenseReport.CreatedBy.Fullname)" class="form-control" readonly="true" />
                        </div>
                    </div>
                    <div class="col-md-2 em-col-md-offset-2">
                        <div class="form-group">
                            @Html.LabelFor(m => m.DepartmentName)
                            <input type="text" value="@Html.Encode(Model.ExpenseReport.Department.DepartmentName)" class="form-control" readonly="true" />
                        </div>
                    </div>
                    <div class="col-md-2 em-col-md-offset-2">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CreateDate)
                            <input type="text" value="@String.Format("{0:dd/MM/yyyy}", Model.ExpenseReport.CreateDate)" class="form-control" readonly="true" />
                        </div>
                    </div>
                </div>


                <div class="row">
                    <br />
                </div>

                <!-- This row contains the expense items -->

                <div class="row">
                    <div class="col-md-7">
                        @if (Model.ExpenseReport.ExpenseItems.Count > 0)
                        {
                            <table class="table">
                                <tr>
                                    <th>Item Date</th>
                                    <th>Location</th>
                                    <th>Description</th>
                                    <th>Receipt</th>
                                    <th>Amount</th>
                                    <th>Currency</th>
                                    <th>Aud Amount</th>
                                </tr>

                                @foreach (var item in Model.ExpenseReport.ExpenseItems)
                                {
                                    <tr>
                                        <td>@Html.Encode(String.Format("{0:dd/MM/yyyy}", item.ExpenseDate))</td>
                                        <td>@item.Location</td>
                                        <td>@item.Description</td>
                                        <td>
                                            @if (item.ReceiptFileName != null && item.ReceiptFileName != "")
                                            {
                                                <a href="/Receipts/@item.ReceiptFileName" target="_blank"><img src="~/Images/img_pdf_icon.png" /></a>
                                            }

                                        </td>
                                        <td>@Html.Encode(String.Format("{0:C}", item.Amount))</td>
                                        <td>@item.Currency</td>
                                        <td>@Html.Encode(String.Format("{0:C}", item.AudAmount))</td>
                                    </tr>
                                }

                            </table>
                        }
                    </div>
                </div>

                <div class="row">
                    <hr />
                </div>

                <!-- This row is the buttons  data-toggle="modal" data-target="#myModal" -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input id="btnAddExpenseItem" type="button" value="Add Item" class="btn btn-primary" onclick="ShowExpenseItemModal();" />
                            @Html.ActionLink("Submit Report", "SubmitExpense", "Consultant", new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <section>
        @Html.Partial("_ExpenseItemFormPartial", Model)
    </section>
}