@model List<ThreeAmigos_ExpenseManagement.Models.AmountProcessedSupervisor>

@{
    ViewBag.Title = "Expense Management System | Check Expense Approved";
    Layout = "~/Views/Shared/_EM_LayoutPage.cshtml";
}

@using (Html.BeginForm("CheckExpenseApproved", "CheckExpenseApproved", "Accounts", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    decimal? totalExpenseApproved = 0;
    decimal? companyMonthlyBudget = Model.FirstOrDefault().companyMonthlyBudget;

<div class="panel panel-primary">
    
    <div class="panel-heading">
        <h3 class="panel-title">Check Balance and Expense Approved by Supervisors</h3>
    </div>

    <div class="panel-body">
        <div class="container-fluid">

            <div class="row" id="divDisplayExpenseReports" runat="server">
                
                @if (Model == null)
                {
                    <b>No reports</b>
                }
                else
                {
                    foreach (var supervisor in Model)
                    {
                        <table class="table">
                            <tr class="info">
                                <th></th>
                                <th><b>Supervisor name: </b>@supervisor.Fullname </th> 
                                <th></th>
                                <th></th>                                                                
                            </tr>
                            <tr>
                                <th></th>
                                <th><b>Amount approved: </b>@String.Format("{0:C}", @supervisor.amountApproved)</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </table>
                    
                        totalExpenseApproved = totalExpenseApproved + @supervisor.amountApproved;
                    }
                    
                    if (companyMonthlyBudget >= totalExpenseApproved)
                    {
                        <text>   <b>@String.Format("{0:C}", totalExpenseApproved)</b> has been approved from the company monthly budget of <b>@String.Format("{0:C}", companyMonthlyBudget)</b>. </text> <br />
                        <text>   You currently have <b>@String.Format("{0:C}", companyMonthlyBudget - totalExpenseApproved)</b> left for approval.</text>
                    }
                    else
                    {
                        <text>   <b>@String.Format("{0:C}", totalExpenseApproved)</b> has been approved from the company monthly budget of <b>@String.Format("{0:C}", companyMonthlyBudget)</b>. </text> <br />
                        <text>   Accounts have approved over the budget by <b>@String.Format("{0:C}", totalExpenseApproved - companyMonthlyBudget)</b></text>
                    } 
                }
            </div>
        </div>
    </div>
</div>
}




