@model ThreeAmigos_ExpenseManagement.ViewModels.ExpenseFormViewModel
@{
    ViewBag.Title = "Expense Management System | Process Expense";
    Layout = "~/Views/Shared/_EM_LayoutPage.cshtml";    
}

@using (Html.BeginForm("ProcessExpenses", "Accounts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

@helper HighlightOverBudget(decimal? spent) {
    <text>style="background-color:@(spent > 700 ? "yellow" : "none")"</text>
}
    
    
    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">View Reports</h3>
        </div>

        @foreach (var ExpenseReport in Model.ExpenseReports)
        {
            decimal? totalAmount = 0;
            <table class="table">
                <tr class="info">
                    <th>Report Date: @String.Format("{0:dd/MM/yyyy}", @ExpenseReport.CreateDate)</th>
                    <th>Consultant: @ExpenseReport.CreatedBy.Fullname</th>
                    <th>Supervisor: @ExpenseReport.ApprovedBy.Fullname</th>
                    <th>Department: @ExpenseReport.Department.DepartmentName</th>
                    <th>Status: @ExpenseReport.Status</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th>Expense Date</th>
                    <th>Location</th>
                    <th>Description</th>
                    <th>Receipt File</th>
                    <th>Amount (AUD)</th>
                    <th></th>
                </tr>

                @foreach (var ExpenseItem in ExpenseReport.ExpenseItems)
                {
                    <tr>
                        <td></td>
                        <td>@String.Format("{0:dd/MM/yyyy}", @ExpenseItem.ExpenseDate)</td>
                        <td>@ExpenseItem.Location</td>
                        <td>@ExpenseItem.Description</td>
                        <td>@if (@ExpenseItem.ReceiptFileName != null && @ExpenseItem.ReceiptFileName != "")
                               {
                                   <a href="/Receipts/@ExpenseItem.ReceiptFileName" target="_blank">
                                   <img src="~/Images/img_pdf_icon.png" /></a>
                               }
                         </td>     
                        <td>@String.Format("{0:C}",@ExpenseItem.AudAmount) </td>
                        <td></td>
                    </tr> 
                    totalAmount = totalAmount + ExpenseItem.AudAmount;
                }

                <tr  @HighlightOverBudget(totalAmount)> @* class="success">*@
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> 
                        @Html.ActionLink(
                            linkText: "Approve",
                            actionName: "ProcessExpenses",
                            controllerName: "Accounts",
                            routeValues: new { itemid = ExpenseReport.ExpenseId, act = "Approve" },
                            htmlAttributes: new { @class = "btn btn-success" }
                            )
                        &nbsp;
                        @Html.ActionLink(
                            linkText: "Reject",
                            actionName: "ProcessExpenses",
                            controllerName: "Accounts",
                            routeValues: new { itemid = ExpenseReport.ExpenseId, act = "Reject" },
                            htmlAttributes: new { @class = "btn btn-success" }
                            )
                        &nbsp;
                        <b>Expense Total:</b></td>
                        <td><b>@String.Format("{0:C}", totalAmount)</b></td>
                        <td></td>
                  </tr>


                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                    
                    
            </table>
        }
    </div>
}

