@model ThreeAmigos_ExpenseManagement.ViewModels.ExpenseFormViewModel
@{
    ViewBag.Title = "Expense Management System | View My Expenses";
    Layout = "~/Views/Shared/_EM_LayoutPage.cshtml";
}

@using (Html.BeginForm("ViewReports", "Accounts", FormMethod.Post))
{
     @Html.AntiForgeryToken()
     @Html.ValidationSummary(true)
    
<div class="panel panel-primary">
    
    <div class="panel-heading">
        <h3 class="panel-title">View Reports</h3>
    </div>

    <div class="panel-body">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-2">
                    <strong>Search Filter:</strong>
                    <select class="form-control" name="Status">
                        <option value="ApprovedBySupervisor">Pending For Accounts Approval</option>
                        <option value="ApprovedByAccounts">Approved By Accounts</option>
                        <option value="RejectedByAccounts">Rejected By Accounts</option>
                    </select>

                   <input type="submit" value="Search" class="btn btn-primary"  />
               </div>
            </div>  
                           
            <div class="row">
                <hr />
            </div>
            
            <div class="row" id="divDisplayExpenseReports" runat="server">
                
                @if (Model == null)
                {
                    <b>No reports</b>
                }
                else
                {
                    foreach (var ExpenseReport in Model.ExpenseReports)
                    {
                        <table class="table">
                        <tr class="info">
                            <th><b>Report Date:</b> @String.Format("{0:dd/MM/yyyy}",@ExpenseReport.CreateDate)</th>
                            <th><b>Consultant:</b> @ExpenseReport.CreatedBy.Fullname </th>
                            <th><b>Approval Date:</b> @String.Format("{0:dd/MM/yyyy}",@ExpenseReport.ProcessedDate)</th>
                            <th><b>Supervisor</b>: @ExpenseReport.ProcessedBy.Fullname</th>
                            <th><b>Department:</b> @ExpenseReport.Department.DepartmentName</th>
                            <th><b>Status:</b> @ExpenseReport.Status</th>
                            <th></th>
                       </tr>
                       <tr>
                           <th></th>
                           <th>Expense Date</th>
                           <th>Location</th>
                           <th>Description</th>
                           <th>Receipt File</th>
                           <th>Amount (AUD)</th>    
                           <th></th>
                        </tr>
                        @foreach (var ExpenseItem in ExpenseReport.ExpenseItems)
                         {
                           <tr>
                                <td></td>
                                <td>@String.Format("{0:dd/MM/yyyy}", @ExpenseItem.ExpenseDate)</td>
                                <td>@ExpenseItem.Location</td>
                                <td>@ExpenseItem.Description</td>
                                <td>@if (@ExpenseItem.ReceiptFileName != null && @ExpenseItem.ReceiptFileName != "")
                                    {
                                        <a href="/Receipts/@ExpenseItem.ReceiptFileName" target="_blank">
                                        <img src="~/Images/img_pdf_icon.png" /></a>
                                    }
                                </td>  
                                <td>@String.Format("{0:C}", @ExpenseItem.AudAmount)</td>
                                <td></td>
                           </tr>
                         }
                   </table>
                    }
                }
            </div>
        </div>
    </div>
</div>
     
}


